A{color: #0000ff; font-weight: 20; font-family: Arial; text-decoration: none}
A:visited {color: #0000ff; text-decoration: none}
A:link {color: #0000ff; text-decoration: none}
A:hover {color: #000000; text-decoration: underline}
A:active {color: #000000; text-decoration: none}
LI{color:#222222;font-family:Arial,Helvetica,sans-serif;font-size:12px}
P{color:#555555;font-family:Arial,Helvetica,sans-serif;font-size:16px;width:97%}

.heading{width:97%;border:1px solid #000000;padding:2px;color:#000000;font-family:Arial,Helvetica,sans-serif;font-size:24px;font-weight:600;text-align:center;background-color:#ddddee}
.subheading{width:97%;border:1px solid #000000;padding:2px;color:#333333;font-family:Arial,Helvetica,sans-serif;font-size:18px;font-weight:600;background-color:#ffffff}
.menu{margin:1px 0px 0px 0px;width:99%;border:1px solid #000000;font-family:Arial,Helvetica,sans-serif;font-size:14px;padding:2px;color:#333333;background-color:#ffffff;text-align:center}
.menusubtext{margin:1px 0px 0px 0px;width:99%;font-family:Arial,Helvetica,sans-serif;font-size:12px;padding:2px;color:#333333;background-color:#ffffff;text-align:center}
.menuplantext{margin:1px 0px 0px 0px;width:99%;font-family:Arial,Helvetica,sans-serif;font-size:10px;padding:2px;color:#333333;background-color:#ffffff;text-align:left}
.menuheading{margin:0px 0px;width:99%;border:1px solid #000000;padding:2px;color:#000000;font-family:Arial,Helvetica,sans-serif;font-size:18px;background-color:#ddddee;text-align:center}
.jcode{padding:2px;margin:5px;background-color:#000000;color:#00ff00;font-family:Arial,Helvetica,sans-serif;font-size:16px;}
.strong{color:#000000;font-family:Arial,Helvetica,sans-serif;font-size:16px;font-weight:600}

TABLE{width:97%}
TD{border:1px solid #000000;padding:2px;background-color:#ffffff;color:#555555;font-family:Arial,Helvetica,sans-serif;font-size:16px;text-align:left;vertical-align:text-top}
TH{border:1px solid #000088;padding:2px;background-color:#ddddee;color:#000000;font-family:Arial,Helvetica,sans-serif;font-size:18px;font-weight:500}
.params{color:#008800;font-family:Arial,Helvetica,sans-serif;font-weight:700}
body{background-color:#eeeeff}
